.app-header {
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  background-color: var(--reverse-bg-color);
  color: var(--reverse-color);
}

.app-header__toggle-sidebar {
  margin-right: 2rem;
  cursor: pointer;

  .fas {
    vertical-align: middle;
  }
}

.app-header__brand {
  text-decoration: none !important;
  font-size: 1.25rem;
  color: var(--link-color);

  .fab {
    margin-left: 0.25rem;
    vertical-align: middle;
  }
}
