.app-playground {
  --playground-action-gap: 0.25rem;
  --playground-demo-gap: 0.5rem;

  position: relative;
  margin: 1rem 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;

  &:hover {
    .app-playground__action,
    &.app-playground--log::after {
      opacity: 0.5;
    }
  }

  &.app-playground--disabled {
    .app-playground__action,
    .app-playground__code {
      opacity: 0.5;
    }
  }

  .app-playground__action:hover {
    opacity: 1;

    &.app-playground__action--disabled {
      opacity: 0.5;
    }
  }

  .app-playground__code:hover {
    opacity: 1;
  }
}

.app-playground__action,
.app-playground--log::after {
  position: absolute;
  padding: var(--playground-action-gap) 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--link-bg-color-active);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.825rem;
  text-transform: uppercase;
  text-decoration: none !important;
  transition: all var(--transition-duration) ease;
}

.app-playground__action {
  z-index: 2;
  right: 0;
  bottom: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--link-color);
    color: var(--bg-color);
  }

  &.app-playground__action--disabled {
    background-color: var(--link-bg-color-active);
    color: var(--text-color);
  }
}

.app-playground__icon {
  vertical-align: middle;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.app-playground__code {
  z-index: 1;
  position: relative;
  display: block;
  overflow: auto;
  max-height: 70vh;
  padding: var(--playground-demo-gap) 1rem;
  border-radius: 0;
  border: 1px solid var(--border-color);
  border-left-color: var(--link-color);
  background-color: var(--bg-color);
  transition:
    opacity var(--transition-duration) ease,
    max-height var(--transition-duration) ease;
}

.app-playground__code--reduce {
  max-height: 1rem;
}

.app-playground--demo {
  min-height: calc(var(--line-height) + 2 * (var(--playground-action-gap) - var(--playground-demo-gap)));
  padding: var(--playground-demo-gap) 1rem;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);

  .app-playground__action {
    right: -1px;
    bottom: -1px;
  }
}

.app-playground--log {
  min-height: calc(var(--line-height) + 2 * (var(--playground-action-gap) - var(--playground-demo-gap)));
  margin-top: -1rem;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border-color);
  border-top-width: 0;
  white-space: pre;
}

.app-playground__log {
  overflow: auto;
  max-height: 70vh;
}

.app-playground__log-item {
  display: block;
  padding: var(--playground-demo-gap) 1rem;
  border-bottom: 1px dotted var(--border-color);
  background-color: var(--highlight-color);

  &:last-child {
    border-bottom: none;
  }
}

.app-playground--disabled {
  font-style: italic;
}

.app-playground__action--disabled {
  cursor: default;
}

// HACKING PrismJS
// which applies the rule "background: hsla(0, 0%, 100%, .5);"
// that not plays nice when ".app-settings--dark" is enabled
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: transparent;
}
