:root {
  --line-height: 1.5em;

  --border-color: #ddd;
  --bg-color-light: rgba(0, 0, 0, 0.05);

  --bg-color: #fff;
  --text-color: #333;

  --link-color: dodgerblue;
  --link-bg-color-hover: whitesmoke;
  --link-bg-color-active: aliceblue;

  --reverse-bg-color: #333;
  --reverse-color: #fff;

  --highlight-color: Ivory;

  --transition-duration: 200ms;
}
